/*Add font family from google here*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Oswald:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
/*Header here*/

#header {
    background-image: repeating-linear-gradient(to left, rgb(244, 200, 238), rgb(193, 251, 255));
  width: 100%;  
}


body {
    font-family: Josefin Sans , sans-serif;
    font-weight: 400;
}

/*Menu here*/


#menu {
    list-style-type: none;
    float: right;
    letter-spacing: 3.5px;
    font-family: Josefin Sans , sans-serif;
    margin-right: 35px;
    position: relative;
    bottom: 100px;
}

#menu a {
    color: #5b1a3f;
    text-decoration: none;
    font-size: 200%;
    display: inline;
}



#menu a:hover {
    border-bottom: 1px solid #b892a7;
}


#menu li {
    float: right;
    margin-right: 40px;
}

#logo {
   width: 200px;
   height: 200px;
}

#logo #menu {
    line-height: 250px;
}
/*main section*/

#main-image {
    width: 1500px;
    height: 1000px;
    overflow: hidden;
    
}

.quote {
    font-family: Josefin Sans , sans-serif;
    text-align: center;
    font-size: 400%;
    color: #AA8EBE;
    position: relative;
    top: 300px;
}

/*buton here*/
.qtform {
    text-decoration: none;
    color: black;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: flex;
    
}

.btn {
    
    padding: 50px 110px;
    font-size: 3rem;
    position: relative;
    margin: 50px;
    background-image: repeating-linear-gradient(to left, rgb(255, 228, 252), rgb(118, 247, 255));
    color: black;
    border-radius: 30px;
    transition: transform 0.5s ease;
    text-decoration: none;
    font-family: Josefin Sans , sans-serif;

}

.btn::after, .btn::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    background-image: repeating-linear-gradient(to right, rgb(242, 64, 222), rgb(11, 230, 246));
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform:translate(-12px, -12px) 
}

.btn:hover::after {
    transform:translate (6px, 6px)
}

.btn:hover::before {
    transform:translate (12px, 12px)
}

/*paht here*/

.path-title h1 {
align-items: center;
text-align: center ;
font-size: 60px;
font-family: Josefin Sans , sans-serif;
}

.path {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pathimg {
    padding:0 50px 50px;
}


/*quotation-form*/

#quotation-form {
    background-image: -o-linear-gradient(to right, rgb(148, 120, 192), rgb(9, 242, 252));
}

.box {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius:20px;
    width: 25%;
}

fieldset {
    border: none;
    border-radius: 20px;
}

legend {
    border: none;
    padding: 15px;
    text-align: center;
    
}

.inputbox {
    position: relative;
}

.fieldinput {
    background: none;
    border: none;
    border-bottom: 2px solid whitesmoke;   
}

#button {
    background-image: repeating-linear-gradient(to right, rgb(255, 228, 252), rgb(118, 247, 255));
    border: 5px solid white;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    
}

#button:hover {
    background-image: repeating-linear-gradient(to right, rgb(247, 161, 237), rgb(59, 234, 247));
}

.submit {
    text-decoration: none;
    color: black;
}


.textabout {
    position: absolute;
    border: none;
    height: 500px;
    width: 1100px;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
}


/*Media query*/


/*contact us*/
.contattitle {
text-align: center;
justify-content: center;
font-size: 30px;
font-family: Josefin Sans , sans-serif;
}

.adres {
width: 300px;
height: 200px;
margin: 100px auto;
background: none;
}


.adres h1 {
margin: 0;
padding: 0;
font-family: Josefin Sans , sans-serif;
font-size: 2em;
text-transform: capitalize;
text-align: center;
top: 50%;
transform: translateY(-50%);
}

.location {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*footer*/

footer {
    height: 170px;
}
.network-links {
    text-align: center;
}

.network-links > li {
 display: inline;
}

.network-links i {
    font-size: 50px;
    margin: 2%;
    padding: 3%;
    color:rgb(242, 64, 222)
}

.network-links li:hover {
    transition: .8s;
    opacity: .3;
}