@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Oswald:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

.header {
    background-image: none;
    width: 100%;
    height: 10%;
}

.body {
    font-family: Josefin Sans, sans-serif;
    font-weight: 400;
}

.navbar {
    display: block;
    justify-content: space-between;
    align-items: center;
    background-image: repeating-linear-gradient(to left, rgb(234, 166, 226), rgb(174, 250, 255));
    color: white;
}

.brand-title {
    display: flex;
}

.brand-title img {
    width: 60%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #9478c0;
    padding: 1rem;
    display: block;
    font-size: 145%;
}

.navbar-links li:hover {
    border: none;
    border-bottom: 3px solid #9478c0;
    border-top: 3px solid #9478c0;
    cursor: pointer;
}

.brand-title img:hover {
    cursor: pointer;
}

@media screen and (max-width: 375px) {
    .navbar {
        display: flex;
        width: 100%;
    }

    .navbar-links {
        width: auto;
    }

    .brand-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .brand-title img {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20%;
    }

    .navbar-links li a {
        text-decoration: none;
        color: #532a96;
        padding: 1.1rem;
        display: block;
        font-size: 100%;
    }
}

.wellcome {
    font-family: Josefin Sans, sans-serif;
    font-size: 400%;
    color: #AA8EBE;
    position: relative;
    justify-content: center;
    text-align: center;
    padding: 1%
}

.main-image {
    width: 100%;
    height: 10%;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    .wellcome {
        font-size: 250%;
        justify-content: center;
        text-align: center;
    }

    .main-image {
        width: 100%;
        height: 100%;
    }
}

.qtform {
    text-decoration: none;
    color: #073b3d;
    text-transform: capitalize;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: flex;

}

.btn {
    padding: 20px 40px;
    font-size: 30px;
    position: relative;
    margin: 5px;
    background-image: repeating-linear-gradient(to left, rgb(255, 228, 252), rgb(118, 247, 255));
    color: black;
    border-radius: 30px;
    transition: transform 0.5s ease;
    text-decoration: none;
    font-family: Josefin Sans, sans-serif;
}

.btn::after,
.btn::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    background-image: repeating-linear-gradient(to right, rgb(242, 64, 222), rgb(11, 230, 246));
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: translate(-12px, -5%);
}

@media screen and (max-width: 500px) {
    .container .btn {
        width: 300px;
        height: 100px;
    }

    .qtform {
        justify-items: center;
        text-align: center;
        color: inherit;
    }

}

.path-title h1 {
    align-items: center;
    text-align: center;
    font-size: 500%;
    font-family: Josefin Sans, sans-serif;
    color: #AA8EBE;
}

.path-image {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-left: 15%;
}

.path-image>.path-image-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

@media screen and (max-width: 500px) {
    .path-title h1 {
        font-size: 300%;
        text-align: center;
        justify-content: center;
        color: #AA8EBE;
    }

    .path-image img {
        display: flex;
        width: 80%;
        justify-content: center;
    }
}

#quotation-form {
    background-image: -o-linear-gradient(to right, #9478c0, #09f4fc);
}

.box {
    display: flex;
    width: 90%;
    padding: 1%;
}

.title_quotation {
    border: none;
    padding: 5%;
    text-align: center;
    font-family: Josefin Sans, sans-serif;
}

.inputbox {
    position: relative;
    margin: 3% 0 4%;
}

.fieldinput {
    background: none;
    border: none;
    border-bottom: 1px solid #9478c0;
}

.button-submit {
    background-image: repeating-linear-gradient(to right, rgb(255, 228, 252), rgb(118, 247, 255));
    border: 5px solid white;
    width: 60%;
    padding: 2%;
    font-size: 100%;
    cursor: pointer;
    border-radius: 15%;
}

.button-submit:hover {
    background-image: repeating-linear-gradient(to right, rgb(247, 161, 237), rgb(59, 234, 247));
}

.submit {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

.description {
    justify-content: center;
    text-align: justify;
    padding: 10%;
    margin: inherit;
}

.title-description {
    font-family: Josefin Sans, sans-serif;;
    text-align: center;
    padding: 3%;
    color: #5b0dd8;
}

.text-description {
    font-family: Josefin Sans, sans-serif;;
    text-align: justify;
    padding: 3%;
    color: #5b0dd8;
}

.projectimg {
    font-family: Josefin Sans, sans-serif;
    font-size: 400%;
    color: #AA8EBE;
    position: relative;
    justify-content: center;
    padding: 3%
}

.photo_gallery {
    padding-left: 3%;
    clear: both;
    line-height: 2;
    column-count: 2;
    column-gap: 2%;
}

.photo_gallery>img {
    width: 100%;

}

.map {
    margin: auto;
    width: 50%;
    padding: 1%;
}

.map_text {
    justify-content: center;
    text-align: center;
    padding: 3%;
    margin: inherit;
}

.contacts {
    display: block;
    justify-content: center;
    text-align: center;
    padding: 3%;
    margin: 5%;
}

.contacts h2 {
    padding: 2%;
    color: #073b3d;
}

.submited {
    margin: auto;
    width: 50%;
    padding: 15%;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: .2rem;
}

.submited h1 {
    color: #9478c0;
    font-family: Josefin Sans, sans-serif;
}

footer {
    height: 170px;
}

.network-links {
    text-align: center;
}

.network-links>li {
    display: inline;
}

.network-links i {
    font-size: 50px;
    margin: 2%;
    padding: 3%;
    color: rgb(242, 64, 222)
}

.network-links li:hover {
    transition: .8s;
    opacity: .3;
}

@media screen and (min-width: 320px) {

    .body {
        text-align: center;
        font-size: large;
    }
}