/*Add font family from google here*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Oswald:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/*Header here*/

.header {
    background-image: none;
    width: 100%;
    height: auto;
}

.body {
    font-family: Josefin Sans, sans-serif;
    font-weight: 400;
}

/*Menu here*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00957c83;
    color: white;
}

.brand-title {
    width: 30%;
    height: 30%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 3rem;
    display: block;
}

.navbar-links li:hover {
    border: none;
    border-bottom: 1px solid #09f4fc;
    cursor: pointer;
}

@media screen and (max-width: 375px) {
    .navbar {
        width: 375px;
        height: auto;
    }

    .navbar-links {
        width: auto;
        padding: none;
    }
}   


/*main section*/
.wellcome {
    font-family: Josefin Sans, sans-serif;
    font-size: 400%;
    color: #AA8EBE;
    position: relative;
    justify-content: center;
    padding: 1%
}

.main-image {
    padding: 1%;
    width: 100%;
    height: 10%;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    .wellcome {
        font-size: 100%;
        justify-content: center;
    }

    .main-image {
        padding: 1%;
        width: 68%;
        height: 10%;
    }
}
/*buton here*/

.qtform {
    text-decoration: none;
    color: black;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: flex;

}

.btn {
    padding: 50px 110px;
    font-size: 3rem;
    position: relative;
    margin: 50px;
    background-image: repeating-linear-gradient(to left, rgb(255, 228, 252), rgb(118, 247, 255));
    color: black;
    border-radius: 30px;
    transition: transform 0.5s ease;
    text-decoration: none;
    font-family: Josefin Sans, sans-serif;
}

.btn::after,
.btn::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    background-image: repeating-linear-gradient(to right, rgb(242, 64, 222), rgb(11, 230, 246));
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: translate(-12px, -12px)
}

.btn:hover::after {
    transform: translate (6px, 6px)
}

.btn:hover::before {
    transform: translate (12px, 12px)
}

/*paht here*/

.path-title h1 {
    align-items: center;
    text-align: center;
    font-size: 200%;
    font-family: Josefin Sans, sans-serif;
}

.path {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pathimg {
    width: 60%;
    height: auto;
}

@media screen and (max-width: 500px) {
    .path-title h1 {
        font-size: 100%;
        text-align: center;
        justify-content: center;
    }

    .path {
        display:inline-block;
    }

    .pathimg {
        padding: 1%;
        width: 30%;
        height: auto;
    }
}

/*quotation-form*/

#quotation-form {
    background-image: -o-linear-gradient(to right, #9478c0, #09f4fc);
}

.box {
    display: flexbox;
    margin: auto;
    width: 40%;
    padding: 1%;
}

.legend {
    border: none;
    padding: 5%;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 3% 0 4%;
}

.fieldinput {
    background: none;
    border: none;
    border-bottom: 1px solid #9478c0;
    border-right: 100%;
}

#button {
    background-image: repeating-linear-gradient(to right, rgb(255, 228, 252), rgb(118, 247, 255));
    border: 5px solid white;
    width: 100%;
    padding: 2%;
    font-size: 100%;
    cursor: pointer;
    border-radius: 15%;

}

#button:hover {
    background-image: repeating-linear-gradient(to right, rgb(247, 161, 237), rgb(59, 234, 247));
}

.submit {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

/*About us*/
.description {
    justify-content: center;
    text-align: justify;
    padding: 10%;
    margin: inherit;
}

.description h1 {
    text-align: center;
    padding: 5%;
}

/*projects*/
.projectimg {
    font-family: Josefin Sans, sans-serif;
    font-size: 400%;
    color: #AA8EBE;
    position: relative;
    justify-content: center;
    padding: 3%
}

.photo_gallery {
    padding-left: 3%;
    clear: both;
    line-height: 2;
    column-count: 2;
    column-gap: 2%;
}

.photo_gallery>img {
    width: 100%;

}

/*Media query*/


/*contact us*/
.map {
    margin: auto;
    width: 50%;
    padding: 1%;
}

.map_text {
    justify-content: center;
    text-align: center;
    padding: 3%;
    margin: inherit;
}

.contacts {
    display: block;
    justify-content: center;
    text-align: center;
    padding: 3%;
    margin: 5%;
}

.contacts h2 {
    padding: 2%;
    color: #073b3d;
}

.submited {
    margin: auto;
    width: 50%;
    padding: 15%;
    text-align: center;
    size: 200%;
    text-transform: capitalize bold;
    letter-spacing: 5%;
    color: #073b3d;
}

.submited h1 {
    size: 300%;
}

/*footer*/

footer {
    height: 170px;
}

.network-links {
    text-align: center;
}

.network-links>li {
    display: inline;
}

.network-links i {
    font-size: 50px;
    margin: 2%;
    padding: 3%;
    color: rgb(242, 64, 222)
}

.network-links li:hover {
    transition: .8s;
    opacity: .3;
}

@media screen and {
    min-width: 320px;

    .body {
        text-align: center;
        font-size: large;
    }
}